body {
    margin: 0;
    font-family: Arial, sans-serif;
}


.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    margin-right: 10px;
}

.search-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #0056b3;
}

main {
    padding-top: 60px; /* Ensure content does not go under the fixed header */
}
